body {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #f0f0f1;
  font-family: 
  }

#wrapper {
  display: flex; 
  position: fixed; 
  top: 0; 
  width: 100%; 
}

nav {
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  background-color:  #1a4d66;
  margin: 0;
  top: 0;
  width: 100%; 
  height: 70px; 
  position: fixed;
     }

nav a {
  min-width: 48px; 
  font-family: "Lucida Sans Unicode", sans-serif;
  text-decoration: none;
  font-size: 0.6em;
  color: #fff;
  padding: 1em; 
 }

#list {
    height: 0; 
    justify-content: center; 
    width: 100%; 
    background-color: grey;
    padding: 0; 
    margin-top: 70px;
    z-index: 1; 
    position: relative;
    overflow: hidden; 
    transition: height 0.4s ease;  
  }     

#list ul {
   list-style-type: none;
   text-align: center; 
   width: 100%; 
   padding: 0; 
   margin: 0; 
}

#list li a{
    color: white;
    text-decoration: none;
    font-family: "Lucida Sans Unicode", sans-serif;
    display: block;
    font-size: 1em;
    line-height: 2em;
    min-height: 48px; 
    padding: 5px 0;
    width: 100%; 
    }

#list a:hover {
  background-color: #c7c8c9;
 }

#aboutme{
  display: none;
  width: 100%;
  min-height: 100%; 
  position: absolute; 
  background-color: #f0f0f1;
  top: 70px;  
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  text-align: center;  
    }

#aboutText { 
   margin: 170px 10px 30px; 
   height: 0%;   
   flex: 1; 
   min-width: 0; 
   font-family: "Lucida Sans Unicode", sans-serif;
   font-size: 0.9em;
   color: #000;
}

#aboutText h1 {
  font-family: "Katibeh", serif;
  font-size: 3em;
}
#aboutText a {
  text-decoration: none;
  color: #000;
}

#aboutText ul {
  text-align: center; 
}

#aboutText li {
  display: inline-block; 
  list-style-type: none; 
  margin: 30px 30px 30px 0; 
}

#aboutText li {
  font-size: 2.5em; 
}

#aboutText li img {
 width: 36px;  
}

#aboutText li i:hover {
  color: #685567;
}

#aboutText li img:hover {
  color: #685567;
}

#close{
  font-size: 1.5em;
  position: absolute; 
  top: 20px; 
  right: 5%; 
  color: #685567; 
}

#aboutme #portrait {
  position: absolute; 
  top: 50px; 
  width: 110px; 
  border-radius: 50%; 
  border: 3px solid #685567;
}

header {
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  height: 100vh;
  background-color: #fff5f5;
   background-image: url("");
  background-attachment: fixed; 
  background-repeat: repeat; 
}

header h1 {
  font-family: "Katibeh", serif;
  font-size: 3em; 
  color:  #1a4d66;
    }

#intro {
  background-color: #fff;
  height: 40vh;
}

.img {
  margin: 0; 
  padding: 0;
  width: 100%; 
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img img {
  width: 100%;
  align-self: center; 
  margin: 0; 
  height: 50vh;
}

#Italian .img {
    background-image: url("Italy.jpg");
  }

#French img {
  display: none; 
}

#French .img {
    background-image: url("France.jpg");
  }

#Latin .img {
    background-image: url("Greece.jpg");
  }

#Spanish img {
  display: none; 
}

#Spanish .img {
  background-image: url("Spain.jpg");
}

 #English .img {
    background-image: url("England.jpg");
  }

section {
  display: flex; 
  max-width: 100%;
  min-height: 30vh;
  margin: 0;
  flex-direction: column; 
  justify-content: center;
  align-content: center; 
  background-color: #fff; 
}

section h2 {
  font-family: "Katibeh", serif;  
  font-size: 2.3em;
  color: #1a4d66;
}

.text {
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 0.9em;
    text-align: center;
    margin: 0 5%; 
  }

button { 
  display: flex; 
  width: 100%;
  height: 10vh;
  margin: 0;
  background-color: #fff; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  border: none; 
}

.arrow {
  font-size: 2em; 
  color: #1a4d66; 
}

.extra {
  background-color: #fff; 
}

.closed {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.open {
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 300px;
    overflow: hidden;
}

footer {
  display: flex;
  width: 100%;
  min-height: 48px; 
  background-color: #1a4d66; 
  justify-content: center;
  text-align: center;
 }

footer p {
  font-family: "Lucida Sans Unicode", sans-serif;
  font-size: 0.9em;
  color: #fff;
}

footer a {
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 750px){
  #wrapper{
    justify-content: flex-end;
  }
  
  nav{
    justify-content: flex-end; 
  }
  
  nav a {
    margin-right: 50px;
  }
  
  #list {
    width: 300px; 
  }
  
  #aboutText {
    margin: 160px 20% 30px; 
  }
  
 header h1{
    font-size: 4em;
  }
 
.img {
    max-width: 30%;
    height: 20%;
    display: flex;   
    align-items: center;
    margin: 3%
     }
  
 .img img {
    max-width: 100%; 
    height: auto;
    border: 10px solid #f8f7f9;
    border-bottom: 30px solid #f8f7f9;
    box-shadow: 5px 5px 5px #888888;
    background-color: #f8f7f9;
  }
  
  .flex-container {
    padding: 0; 
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff5f5;
   background-image: url("https://inspirationhut.net/wp-content/uploads/2014/09/light-paper-fibers.jpg");
  }
  
  .container {
    width: 50vw;
    flex-direction: column;
    margin: 3%;
  }
  
  section {
    min-height: 40vh;
  }
  
  #Italian {
     background-image: url("https://images.unsplash.com/photo-1470776455360-5b7018843b11?auto=format&fit=crop&w=1500&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #Italian .img {
    display: none;
  }
  
  #French img {
    display: flex;
  }
  
  #Latin img {
    display: none;
  }
  
  #Latin .img {
    display: none;
  }
  
  #Latin {
    background-image: url("https://cdn.pixabay.com/photo/2017/02/23/15/56/acropolis-2092534_960_720.jpg");
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #Spanish img {
  display: flex; 
}
  
  #English img {
    display: none; 
  }
  
  #English .img{
    display: none;
  }
  
  #English {
    background-image: url("https://images.unsplash.com/photo-1464082354059-27db6ce50048?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .left {
    order: 1; 
  }
  
  .right{
    order: 2;
  }
  
 .language {
    margin-bottom: 0;
  }
  
  button {
  display: none; 
  }
  
 .extra {
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-height: 40vh;
    overflow: hidden;
  }
}
