body {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #f0f0f1;
  font-family: 
  }

#wrapper {
  display: flex; 
  position: fixed; 
  top: 0; 
  width: 100%; 
}

nav {
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  background-color: #685567;
  margin: 0;
  top: 0;
  width: 100%; 
  height: 70px; 
  position: fixed;
     }

nav a {
  min-width: 48px; 
  font-family: "Lucida Sans Unicode", sans-serif;
  text-decoration: none;
  font-size: 0.6em;
  color: #ffffff;
  padding: 1em; 
 }

#list {
    display: none; 
    justify-content: center; 
    width: 100%; 
    background-color: grey;
    padding: 0; 
    margin-top: 70px;
    z-index: 1; 
    position: relative; 
          }

#list ul {
   list-style-type: none;
   text-align: center; 
   width: 100%; 
   padding: 0; 
   margin: 0; 
}

#list li a{
    color: white;
    text-decoration: none;
    font-family: "Lucida Sans Unicode", sans-serif;
    display: block;
    font-size: 1em;
    line-height: 2em;
    min-height: 48px; 
    padding: 5px 0;
    width: 100%; 
    }

#list a:hover {
  background-color: #c7c8c9;
 }

#aboutme{
  display: none;
  width: 100%;
  min-height: 100%; 
  position: absolute; 
  background-color: #f0f0f1;
  top: 70px;  
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  text-align: center;  
    }

#aboutText { 
   margin: 170px 10px 30px; 
   height: 0%;   
   flex: 1; 
   min-width: 0; 
   font-family: "Lucida Sans Unicode", sans-serif;
   font-size: 0.9em;
   color: #000;
}

#aboutText h1 {
  font-family: "Katibeh", serif;
  font-size: 3em;
}
#aboutText a {
  text-decoration: none;
  color: #000;
}

#aboutText ul {
  text-align: center; 
}

#aboutText li {
  display: inline-block; 
  list-style-type: none; 
  margin: 30px 30px 30px 0; 
}

#aboutText li i {
  font-size: 2.5em; 
}

#aboutText li i:hover {
  color: #685567;
}

#close{
  font-size: 1.5em;
  position: absolute; 
  top: 20px; 
  right: 5%; 
  color: #685567; 
}

#aboutme img{
  position: absolute; 
  top: 50px; 
  width: 110px; 
  border-radius: 50%; 
  border: 3px solid #685567;
}

header {
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  height: 100vh;
  background-image: url("low-contrast-linen.png");
  background-attachment: fixed; 
  background-repeat: repeat; 
}

header h1 {
  font-family: "Katibeh", serif;
  font-size: 3em; 
  color: #685567;
    }

section {
  display: flex; 
  max-width: 100%;
  height: auto;
  margin: 0;
  flex-direction: column; 
  justify-content: center; 
  font-family: "Lucida Sans Unicode", sans-serif;
  font-size: 0.9em;
  text-align: center;
  background-color: #fff;
}

#intro {
  background-color: #fff;
  height: 40vh;
}

.img {
  margin: 0; 
  padding: 0;
  width: 100%;
}

div img {
  width: 100%; 
  align-self: center; 
  margin: 0; 
}

.container {
  width: 50wv;
  margin: 0;
}

.container h2 {
  font-family: "Katibeh", serif;  
  font-size: 2.3em;
  color: #685567;
}

.text {
    margin: 0 5%;
  }

.words{
  display: flex; 
  height: 50px;
  margin: 0;
  background-color: #fff; 
  flex-direction: column; 
  text-align: center;
}

.words a {
  text-decoration: none;
  font-family: "Lucida Sans Unicode", sans-serif;
  font-size: 1.5em;
  color: #f47b35;
}

.words i {
  font-size: 1.3em;
  color: #000;
}

.words-list{
  display: none;
  margin: 0; 
}

footer {
  display: flex;
  width: 100%;
  min-height: 48px; 
  background-color: #685567; 
  justify-content: center;
  text-align: center;
 }

footer p {
  font-family: "Lucida Sans Unicode", sans-serif;
  font-size: 0.9em;
  color: #fff;
}

footer a {
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 750px){
  #wrapper{
    justify-content: flex-end;
  }
  
  nav{
    justify-content: flex-end; 
  }
  
  nav a {
    margin-right: 50px;
  }
  
  #list {
    width: 300px; 
  }
  
  #aboutText {
    margin: 160px 20% 30px; 
  }
  
 header h1{
    font-size: 4em;
  }
 
  
.img {
    max-width: 400px;  
    height: 300px; 
    border: 10px solid #f8f7f9;
    border-bottom: 30px solid #f8f7f9;
    margin: 3%;
    background-color: #f8f7f9;
    box-shadow: 5px 5px 5px #888888;
  }
  
  .flex-container {
    padding: 0; 
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff5f5;
   background-image: url("low-contrast-linen.png");
  }
  
  .container {
    width: 50vw;
    flex-direction: column;
    margin: 3% auto;
  }
  
  section {
    min-height: 40vh;
  }
  
  .italy {
     background-image: url("Italy.jpg");
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .italy img {
    display: none; 
  }
  
  .italy .img {
    display: none;
  }
  .greece img {
    display: none;
  }
  
  .greece .img {
    display: none;
  }
  
  .greece {
    background-image: url("Greece.jpg");
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .english img {
    display: none; 
  }
  
  .english .img{
    display: none;
  }
  
  .english {
    background-image: url("England.jpg");
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .left {
    order: 1; 
  }
  
  .right{
    order: 2;
  }
  
 .language {
    margin-bottom: 0;
  }
  
  .words{
  display: none; 
  }
  
  .words-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }
}
